{% extends "general/general_base.html" %}
{% load static %}

<div class="container">
    {% block content %}
    {% block pregeneral %}
    {% endblock %}
    {% block general_content %}
    <div class="container">
        <h1>Welcome to {{team.city}} {{ team.name }} page!</h1>
        <img src="{{ team.logo.url }}" width=200 heigh=200>
        <h2>Arena:</h2> <p>{{ team.arena }}</p>
        <h2>About: </h2> <p>{{ team.description }}</p>
        <h2>Players: </h2>
        <ul>
            {% for player in  team.team_related.all %}
                <li><a href="{% url 'general:detailplayer' slug=player.slug %}">{{ player.name }} {{ player.surname }}</a></li> 
            {% endfor %}
        </ul>


    </div>
    {% endblock %}
    {% endblock %}
</div>
